@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxanium", sans-serif;
}

body {

    background-color: #000;

    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}

h1 {

    color: #5191e4;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.container {

    width: 700px;
    text-align: center;
    padding: 5px;


}

p {

    color: #ffffff;
    font-size: 30px;
    padding: 15px;
    font-weight: bold;
    margin: 30px 0;
    cursor: pointer;
    transition: 0.5s;

}

input {
    width: 200px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    padding: 10px 0 0 10px;
    font-size: 25px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    outline: none;
    border: none;
    cursor: pointer;
}


button {
    margin-top: 40px;
    width: 300px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(57, 26, 158, 0.15) 0px -36px 30px 0px inset, rgba(31, 31, 225, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(6, 32, 179, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    border-radius: 50px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    transform: scale(0.8);
    transition: 1s;
    background-color: #5191e4;
    color: #ffffff;
}